# Miscellaneous
*.env

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Javascript/Node/Nestjs related
**/node_moodules/
**/dist/